/** general **/
* {
    margin: 0;
    padding: 0;
}
body {
    background:top #F5F5F5;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 100%;
    line-height: 1em;
    color: #414141;
    
}

.icons
{
    height:20px;
    width:20px;
    padding: 0px 10px 0px 10px;
}
.icons1
{
    height:16px;
    width:16px;
    padding: 0px 10px 0px 10px;
}




p {
    margin: 0;
    padding: 0;
}



a {
    color: #414141;
    outline: none;
}
a:hover {
    text-decoration: none;
}

/** lists **/
ul {
    list-style: circle;
}
li {
    margin-left: 30px;
}
ul.list {
    list-style: none;
}


/** forms **/
input, textarea, select {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1em;
}
input, select {
    vertical-align: middle;
    font-weight: normal;
}
form {
    clear: right;
    width: 100%;
    overflow: hidden;
}
form fieldset {
    border: none;
    float: left;
}
form .field {
    clear: both;
    
    
}
form label {
    float: left;
    width: 110px;
    line-height: 18px;
    padding-bottom: 8px;
    font-weight: bold;
    color: #4c7cbd;
}
input.text {
    width: 170px;
    padding: 1px 0 1px 3px;
    border: 1px solid #d6d6d6;
    color: #414141;
    float: left;
}

select {
    width: 170px;
    padding: 1px 0 1px 3px;
    border: 1px solid #d6d6d6;
    color: #414141;
    float: left;
}


textarea {
    width: 340px;
    height: 70px;
    padding: 1px 0 1px 3px;
    border: 1px solid #d6d6d6;
    color: #414141;
    margin-bottom: 15px;
    overflow: auto;
    float: left;
}
form input.submit {
    float: right;
    color: #4c7cbd;
    margin-left: 5px;
    width: 70px;
    font-weight: bold;
}



.errors {
    margin-bottom: 20px;
}
.errors li {
    color: red;
}
.error-field {
    background-color: pink;
}

.table_entry
{
    width:50px;
}
/** boxes **/
.box {
    background: #f9f9f9;
    background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
    -webkit-box-shadow: 0 1px 0 #fff inset;
    -moz-box-shadow: 0 1px 0 #fff inset;
    -ms-box-shadow: 0 1px 0 #fff inset;
    -o-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
    border: 1px solid #c4c6ca;
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
    text-align:left;
    text-shadow: 0 1px 0 #fff;
    width: 250px;
}



.box:after,
.box:before {
    background: #f9f9f9;
    background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
    border: 1px solid #c4c6ca;
    content: "";
    display: block;
    height: 100%;
    left: -1px;
    position: absolute;
    width: 100%;
}


.box:after {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
    top: 0;
    z-index: -1;
}
.box:before {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
    top: 0;
    z-index: -2;
}
/*.box {
    background: #fff;
    width: 100%;
    
    border: 1px solid #D6D6D6;
}

*/
.box .inner {
    padding-left: 50px;

}
a.navigation_link
{
   font-size: 13px;
color: #006699;
text-decoration: none;
background: none;
margin-right: 0;
padding-right: 5px;
background-position: right top;
}

.navigation_link1
{
    font-size: 13px;
font-weight: bold;
color: #000000;
background: none;
margin-right: 0;
padding-right: 5px;
padding-left: 20px;
background-position: right top;
}

a{
   display: block;
       padding-top: 5px;
    padding-bottom: 5px;
}
.inner a
{
    padding-bottom: 2px;
    display:inline-block;
}
/** content **/
#content {
    padding: 20px 40px 0 40px;
}
#content .indent {
    padding: 14px 0 0 9px;
}
#content p {
    line-height: 1.17em;
}


.clear {
    clear: both;
}

.alignright {
    text-align: right;
}
.aligncenter {
    text-align: center;
}



.wrapper {
    width:100%;
    min-width: 1366px;
    
}
.container {
    width:100%;
    min-width: 1366px;
}

.tail-top-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 240px;
    /*background: url(../img/header-bg-right.jpg) repeat-x right top;*/
}

#all_courses,td a
{
    text-decoration: underline;
}

#all_courses:hover,td a:hover
{
    text-decoration: None;
    cursor: hand;

}




.p {
    margin-bottom: 14px;
}

table {
    margin-bottom: 20px;
    table-layout: fixed
}


.val{
    width :50px;
}

td,th {
  text-align: left;
    
    padding: 8px 14px;
}

td:first-child
{
   width:100px;
}
td:first-child+td
{
   width:200px;
}

td:first-child+td+td
{
   width:80px;
}

td input {
    width: 80px;
    padding: 1px 0 1px 3px;
    border: 1px solid #d6d6d6;
    color: #414141;
    float: left;
}

.present
{
background-color:green;
color:white;
}

a.navigation_link
{
    display: inline;
}



.title {
    margin-bottom: 18px;
}

/** flashes **/

form label1
{
    float: left;
    width: 100px;
    line-height: 18px;
    padding-bottom: 8px;
    font-weight: bold;
    color: #4c7cbd;
}



  .search_box{ 
padding: 1px 20px; 
border: 0; 
    height:25px; 
    width: 275px; 
border-radius: 10px; 
-moz-border-radius: 10px; 
-webkit-border-radius: 10px; 
box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset; 
-moz-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset; 
-webkit-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset; 
-webkit-background-clip: padding-box; 
    outline:0; 
} 



#overlay {
    background-color: rgba(164, 100, 91, 0.0);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
    padding: 400px;
    font-size: 50px;
   color: blue;
    cursor: wait;
}

table tr:hover td {
background: #d0dafd;
}
table
{
empty-cells: show; 
}

table td {
border-left:0px none;
border-right:0px none;
background: #e8edff;
border-top: 1px solid #fff;
color: #669;
padding: 8px;
border-collapse: collapse;
}
table th {

font-weight: normal;
font-size: 13px;
color: #039;
padding: 8px;
background: #b9c9fe url("http://media.smashingmagazine.com/images/express-css-table-design/table-images/left.png") left -1px no-repeat;
}

table .res {

font-weight: normal;
color: #039;
padding: 8px;
background: #b9c9fe url("http://media.smashingmagazine.com/images/express-css-table-design/table-images/left.png") left -1px no-repeat;
}

table td .empty {
border-left:0px none;
border-right:0px none;

border-top: 1px solid #fff;
color: #669;
padding: 8px;
border-collapse: collapse;
}